.service {
  &__top {
    padding: 100px 0;
    margin-bottom: 60px;
    background-color: var(--bg-color);
    text-align: center;
    transition: none;
    @media screen and (max-width: 600px) {
      padding: 50px;
    }
  }
  &__subtitle {
    font-family: "Mulish", sans-serif;
    color: var(--text-color);
    span {
      color: var(--primary-color);
    }
  }
  &__details {
    padding: 50px 0;
    padding-top: 20px;
    .container {
      display: flex;
      flex-direction: row;
    }
  }
  &__links {
    padding-top: 30px;
    padding-right: 30px;
    border-right: 1px solid #dddddd;
    &--title {
      font-size: 22px;
      font-family: "Mulish", sans-serif;
      line-height: 22px;
      font-weight: 700;
      margin-bottom: 25px;
      color: var(--text-color);
      border-bottom: 1px solid #dddddd;
      padding-bottom: 15px;
    }
  }
  &__list {
    width: 320px;
    margin-bottom: 50px;
    &--item {
      padding-bottom: 20px;

      font-size: 18px;
      font-family: "Mulish", sans-serif;
      line-height: 20px;
      font-weight: 600;
      color: var(--text-color);
    }
    &--item.active,
    &--item:hover {
      text-decoration: underline;
      color: var(--primary-color);
    }
  }
}
