@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color-2);
  scroll-behavior: smooth;

}
.container {
  max-width: 1436px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000;
}
main {
  padding-top: 107px;
  overflow: hidden;
}
section{
  transition: .3s;
}
li,
button,
a {
  cursor: pointer;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
}

.mf-cursor {
  color: var(--secondary-color);
  z-index: 1000;
  @media screen and (max-width: 870px) {
    display: none;
  }
}
