@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import url("https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css");
html[data-theme="light"] {
  --text-color: #18171c;
  --text-light-color: #666;
  --primary-color: #8670ef;
  --secondary-color: #fad764;
  --secondary-bg-color: #f6f6f6;
  --bg-color: rgb(243, 243, 243);
  --bg-color-2: #f8f9fa;
  --lightgray: #d4d4d4;
}
html[data-theme="dark"] {
  --text-color: #fff;
  --text-light-color: #e3e1e1;
  --primary-color: #8670ef;
  --secondary-color: #fad764;
  --secondary-bg-color: #f6f6f6;
  --bg-color: #1f1e1f;
  --bg-color-2: #1f1e1f;
  --lightgray: #ffffff;
}
