.top-title {
  color: #8670ef;
  font-family: 'Mulish',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
  margin-bottom: 10px;
}
